.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "top"
    "bottom";
}
.top { grid-area: top; }
.bottom { grid-area: bottom; }

.button {
  width: 100%;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}
.video {
  width: 0px;
  height: 0px;
}
.canvas {
  width: 50px;
  height: 50px;
}
::ng-deep video {
  max-height: 50vh;
  width: 30vw;
  object-fit: contain;
}
mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
mat-radio-burron {
  margin: 5px;
}
mat-slider {
  width: 50%;
}
