<div class="grid-container">
  <div class="top">
    <video class="video" id="videoStream"></video>
    <zxing-scanner #scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <canvas class="canvas" id="takePhotoCanvas" (click) = 'onCanvasClick()' ></canvas>
  </div>
  <div class="bottom">
    <button mat-raised-button class="button" id="getUserMediaButton" (click) = 'onGetUserMediaButtonClick()'>Get User Media</button>
    <button mat-raised-button class="button" id="takePhotoButton" (click) = 'onTakePhotoButtonClick()'>Take Photo</button>
    <button mat-raised-button class="button" id='toggleFlashButton' (click) = 'onToggleFlashButtonClick()'>Toggle flash</button>
    <div>
      <input  class='trackbar' type="range" id='changeResolutionRange'>Resolution
      <output id="valueChangeResolutionRange"></output>
    </div>
    <div>
      <input  class='trackbar' type="range" id='changeZoomRange'>Zoom
      <output id="valueChangeZoomRange"></output>
   </div>
   <div>
    <input  class='trackbar' type="range" id='changeBrightnessRange'>Brightness
    <output id="valueChangeBrightnessRange"></output>
  </div>
  <div>
    <input  class='trackbar' type="range" id='changeContrastRange'>Contrast
    <output id="valueChangeContrastRange"></output>
  </div>
  <div>
    <input  class='trackbar' type="range" id='changeSaturationRange'>Saturation
    <output id="valueChangeSaturationRange"></output>
  </div>
  <div>
    <input  class='trackbar' type="range" id='changeSharpnessRange'>Sharpness
    <output id="valueChangeSharpnessRange"></output>
  </div>
  <div>
    <input  class='trackbar' type="range" id='changeFocusDistanceRange'>Focus distance
    <output id="valueChangeFocusDistanceRange"></output>
  </div>
    <button class="button" id="applyConstraintsButton" (click) = 'onApplyConstraintsButtonClick()'>Apply constraints</button>
  </div>

</div>
